<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="appMapper">
	
	<select id="DocByEmp" resultType="ApprovDocumentVo">
		SELECT A.ADOC_NO , ADOC_NAME , ADOC_CONTENT, A.EMP_NO, TO_CHAR(DRAFT_DATE,'YYYY"년"MM"월"DD"일"')AS DRAFT_DATE , APPROVE_STATUS
		FROM APPROVEDOCUMENT A JOIN DOCAPPROVE D ON A.ADOC_NO = D.ADOC_NO
		WHERE A.EMP_NO = #{empNo} AND TO_CHAR(DRAFT_DATE,'YYYY-MM') LIKE #{docDate} AND APPROVE_STATUS = 'Y'
	</select>
	
	<select id="selectOneDoc" resultType="DocControlVo">
		SELECT  
			A.ADOC_NO, A.ADOC_NAME, A.ADOC_CONTENT, A.EMP_NO, TO_CHAR(A.DRAFT_DATE,'YYYY"년"MM"월"DD"일') AS DRAFT_DATE
			, A.NOELEC_STATUS , A.EMP_NAME
			,D.APPROVE_NO, D.APPROVE_STATUS,TO_CHAR(D.APPROVE_DATE,'YYYY"년"MM"월"DD"일') AS APPROVE_DATE, D.EMP_NAME AS APPROVE_MEMBER 
		FROM (SELECT A.*,EMP_NAME from APPROVEDOCUMENT A JOIN EMPLOYEE E ON A.EMP_NO = E.EMP_NO)A
		JOIN (SELECT D.*, EMP_NAME FROM DOCAPPROVE D JOIN EMPLOYEE E ON D.EMP_NO = E.EMP_NO)D 
		ON A.ADOC_NO = D.ADOC_NO 
		WHERE A.ADOC_NO=#{adocNo} AND APPROVE_STATUS = 'Y'
	</select>
	
	<insert id="insertDocCont">
		INSERT INTO DOC_CONTROL
  		(NO
		,ENROLL_DATE
		,END_DATE
		,RANGE
		,STATUS
		,ADOC_NO)
		VALUES
		(
		SEQ_DOC_CONTROL_NO.NEXTVAL
		,#{contEnrollDate}
		,#{contEndDate}
		,#{range}
		,'N'
		,#{adocNo}
		)
	</insert>
	
	<select id="selectCountAll" resultType="int">
		SELECT COUNT(A.ADOC_NO) FROM APPROVEDOCUMENT A JOIN DOCAPPROVE D ON A.ADOC_NO = D.ADOC_NO WHERE A.EMP_NO=#{empNo} AND APPROVE_STATUS = 'Y'
	</select>
	
	<select id="selectContDocByEmp" resultType="DocControlVo">
		<!-- SELECT 
			A.ADOC_NAME,C.NO AS CONT_NO ,TO_CHAR(C.END_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_END_DATE ,C.RANGE,TO_CHAR(C.ENROLL_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_ENROLL_DATE,C.STATUS AS CONT_STATUS, C.ADOC_NO 
		FROM DOC_CONTROL C JOIN APPROVEDOCUMENT A ON C.ADOC_NO = A.ADOC_NO 
		WHERE A.EMP_NO =#{map.empNo} -->
		SELECT X.ADOC_NO, ADOC_NAME, ADOC_CONTENT,EMP_NO, TO_CHAR(DRAFT_DATE,'YYYY"년"MM"월"DD"일"') AS DRAFT_DATE
		,TO_CHAR(ENROLL_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_ENROLL_DATE, TO_CHAR(END_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_END_DATE, RANGE, STATUS AS CONT_STATUS
		FROM 
		    (SELECT A.* FROM APPROVEDOCUMENT A LEFT OUTER JOIN NOELECDOC N ON A.ADOC_NO = N.ADOC_NO WHERE NOELEC_NO IS NULL AND EMP_NO = #{map.empNo}) X 
		JOIN DOC_CONTROL C ON X.ADOC_NO = C.ADOC_NO
	</select>
	
	<update id="updateStatus">
		UPDATE DOC_CONTROL SET STATUS = #{contStatus} WHERE ADOC_NO = #{adocNo}
	</update>
	
	<select id="selectContDoc" resultType="DocControlVo">
		SELECT NO AS CONT_NO, ENROLL_DATE AS CONT_ENROLL_DATE , END_DATE AS CONT_END_DATE, RANGE, STATUS AS CONT_STATUS FROM DOC_CONTROL WHERE ADOC_NO = #{adocNo}
	</select>
	
	<select id="selectContDocList" resultType="DocControlVo">
		SELECT 
			TO_CHAR(ENROLL_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_ENROLL_DATE
			,TO_CHAR(END_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_END_DATE
			, RANGE, STATUS, D.ADOC_NO ,ADOC_NAME
		FROM DOC_CONTROL D JOIN (select A.ADOC_NO, ADOC_NAME,ADOC_CONTENT,A.EMP_NO, DRAFT_DATE FROM APPROVEDOCUMENT A LEFT OUTER JOIN noelecdoc d on a.adoc_no = d.adoc_no WHERE NOELEC_NO IS NULL) A ON D.ADOC_NO = A.ADOC_NO WHERE D.STATUS = 'Y'
	</select>
	
	<select id="selectSign" resultType="SignVo">
	SELECT X.EMP_NO, X.EMP_NAME, SIGN_EDIT, DEPT_NAME, POS_NAME 
	FROM 
	    (SELECT 
	        A.EMP_NO, A.EMP_NAME, SIGN_EDIT 
	    FROM 
	        (SELECT E.EMP_NO , E.EMP_NAME, ADOC_NO FROM DOCAPPROVE D JOIN EMPLOYEE E ON E.EMP_NO=D.EMP_NO)A 
	    JOIN SIGNFILE S ON A.EMP_NO = S.EMP_NO 
	    WHERE ADOC_NO = #{adocNo}) X
	JOIN 
	    (SELECT 
	        EMP_NO, EMP_NAME, DEPT_NAME , POS_NAME 
	    FROM
	        (SELECT 
	            EMP_NO, EMP_NAME, E.DEPT_NO,POS_NO ,D.DEPT_NAME FROM EMPLOYEE E 
	        JOIN DEPARTMENT D ON E.DEPT_NO = D.DEPT_NO) A  
	    JOIN 
	    	POSITION P ON A.POS_NO = P.POS_NO)Z 
	ON X.EMP_NO = Z.EMP_NO
	</select>
	
	<select id="selectMemInfo" resultType="SignVo">
		SELECT X.EMP_NO , EMP_NAME, DEPT_NAME, POS_NAME, SIGN_EDIT
		FROM
		    (SELECT 
		        A.EMP_NO, EMP_NAME, DEPT_NAME , POS_NAME 
		    FROM
		        (SELECT 
		            EMP_NO, EMP_NAME, E.DEPT_NO,POS_NO ,D.DEPT_NAME
		        FROM EMPLOYEE E JOIN DEPARTMENT D ON E.DEPT_NO = D.DEPT_NO) A  
		    JOIN POSITION P 
		    ON A.POS_NO = P.POS_NO) X
		JOIN SIGNFILE S
		ON S.EMP_NO = X.EMP_NO
		WHERE S.EMP_NO = #{empNo}
	</select>
	
	<select id="selectCoo" resultType="SignVo">
	SELECT E.EMP_NAME FROM DOCCOOP D JOIN EMPLOYEE E ON D.EMP_NO = E.EMP_NO WHERE ADOC_NO = #{adcoNo}
	</select>
	
	<select id="selectFile" resultType="ApprovDocumentVo">
		SELECT  DOCFILE_ORIGIN AS FILE_NAME , DOCFILE_EDIT AS CHANGE_FILE_NAME FROM DOCFILE WHERE ADOC_NO = #{adocNo}
	</select>
	
	<select id="selectOneContDoc" resultType="DocControlVo">
		SELECT 
		    A.ADOC_NO, ADOC_NAME, ADOC_CONTENT, DRAFT_DATE, A.EMP_NAME
		    , B.EMP_NAME AS APPROVE_MEMBER , B.APPROVE_DATE
		FROM 
		(SELECT * FROM APPROVEDOCUMENT A JOIN EMPLOYEE E ON A.EMP_NO = E.EMP_NO) A
		JOIN
		(SELECT D.EMP_NO, EMP_NAME , D.ADOC_NO , APPROVE_DATE FROM DOCAPPROVE D JOIN EMPLOYEE E ON D.EMP_NO = E.EMP_NO) B
		ON A.ADOC_NO = B.ADOC_NO
		WHERE A.ADOC_NO =#{no}
	</select>
	
	<select id="selectNoelectCountAll" resultType="int">
	SELECT COUNT(X.ADOC_NO) 
	FROM
		(SELECT 
			A.* FROM APPROVEDOCUMENT A JOIN NOELECDOC N ON A.ADOC_NO = N.ADOC_NO)X
		JOIN (SELECT 
	    		TO_CHAR(ENROLL_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_ENROLL_DATE,
	    		TO_CHAR(END_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_END_DATE,
	    		RANGE, STATUS AS CON_STATUS, ADOC_NO
		FROM DOC_CONTROL)Y
	ON X.ADOC_NO = Y.ADOC_NO
	WHERE EMP_NO = #{empNo}
	</select>
	
	<select id="selectNoelectEmp" resultType="DocControlVo">
	SELECT X.*,Y.* FROM
		(SELECT A.* FROM APPROVEDOCUMENT A JOIN NOELECDOC N ON A.ADOC_NO = N.ADOC_NO)X
		JOIN (SELECT 
		    TO_CHAR(ENROLL_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_ENROLL_DATE,
		    TO_CHAR(END_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_END_DATE,
		    RANGE, STATUS AS CONT_STATUS, ADOC_NO
		FROM DOC_CONTROL)Y
		ON X.ADOC_NO = Y.ADOC_NO
		WHERE EMP_NO = #{empNo}
		<!-- SELECT 
		    X.*,  D.ENROLL_DATE AS CONT_ENROLL_DATE, D.END_DATE AS CONT_END_DATE, RANGE, D.STATUS AS CONT_STATUS
		FROM 
		    (SELECT A.ADOC_NO, ADOC_NAME, ADOC_CONTENT, A.EMP_NO
		        , TO_CHAR(DRAFT_DATE,'YYYY"년"MM"월"DD"일"')AS DRAFT_DATE,NOELEC_NO,NOELEC_ORIGIN_NAME,NOELEC_CHANGE_NAME 
		    FROM APPROVEDOCUMENT A JOIN NOELECDOC N ON A.ADOC_NO = N.ADOC_NO) X 
		LEFT OUTER JOIN DOC_CONTROL D ON X.ADOC_NO = D.ADOC_NO WHERE X.EMP_NO = #{empNo} -->
	</select>
	
	<select id="selectOneNo" resultType="DocControlVo">
	SELECT 
		X.*,TO_CHAR(ENROLL_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_ENROLL_DATE ,TO_CHAR(END_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_END_DATE  
		,RANGE, STATUS AS CONT_STATUS 
	FROM
		(SELECT 
		    A.ADOC_NO, ADOC_NAME, ADOC_CONTENT, A.EMP_NO
		    , TO_CHAR(DRAFT_DATE,'YYYY"년"MM"월"DD"일"')AS DRAFT_DATE
		    ,NOELEC_NO,NOELEC_ORIGIN_NAME,NOELEC_CHANGE_NAME 
		FROM APPROVEDOCUMENT A JOIN NOELECDOC N ON A.ADOC_NO = N.ADOC_NO)X
	JOIN DOC_CONTROL C ON X.ADOC_NO = C.ADOC_NO WHERE X.ADOC_NO = #{empNo}
	</select>
	
	<insert id="updateNo">
		UPDATE DOC_CONTROL SET STATUS = #{contStatus} WHERE ADOC_NO = #{adocNo}
	</insert>
	
	<select id="selectNo" resultType="int">
		SELECT COUNT(N.ADOC_NO) FROM NOELECDOC N JOIN DOC_CONTROL D ON N.ADOC_NO = D.ADOC_NO WHERE D.STATUS = 'Y'
	</select>
	
	<select id="selectNoList" resultType="DocControlVo">
		SELECT 
		    N.*
		    , TO_CHAR(D.ENROLL_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_ENROLL_DATE
		    , TO_CHAR(D.END_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_END_DATE
		    , RANGE
		    , D.STATUS AS CONT_STATUS 
		FROM 
		    (SELECT A.ADOC_NO, ADOC_NAME, ADOC_CONTENT, EMP_NO, TO_CHAR(DRAFT_DATE,'YYYY"년"MM"월"DD"일"') AS DRAFT_DATE,NOELEC_NO , NOELEC_ORIGIN_NAME, NOELEC_CHANGE_NAME 
		    FROM APPROVEDOCUMENT A JOIN NOELECDOC N ON A.ADOC_NO = N.ADOC_NO) N 
		JOIN DOC_CONTROL D ON N.ADOC_NO = D.ADOC_NO WHERE D.STATUS = 'Y'
	</select>
	
	<select id="selectNoDetail" resultType="DocControlVo">
		SELECT 
		    N.*
		    , TO_CHAR(D.ENROLL_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_ENROLL_DATE
		    , TO_CHAR(D.END_DATE,'YYYY"년"MM"월"DD"일"') AS CONT_END_DATE
		    , RANGE
		    , D.STATUS AS CONT_STATUS 
		FROM 
		    (SELECT 
		        A.ADOC_NO, ADOC_NAME, ADOC_CONTENT, EMP_NO , EMP_NAME, DEPT_NAME
		        , TO_CHAR(DRAFT_DATE,'YYYY"년"MM"월"DD"일"') AS DRAFT_DATE,NOELEC_NO , NOELEC_ORIGIN_NAME, NOELEC_CHANGE_NAME 
		    FROM 
		        (SELECT 
		            Q.*,P.DEPT_NAME 
		        FROM 
		            (SELECT A.*,EMP_NAME,DEPT_NO 
		            FROM APPROVEDOCUMENT A 
		            JOIN EMPLOYEE E 
		            ON A.EMP_NO = E.EMP_NO) Q 
		        JOIN DEPARTMENT P 
		        ON Q.DEPT_NO = P.DEPT_NO) A 
		    JOIN NOELECDOC N ON A.ADOC_NO = N.ADOC_NO) N 
		JOIN DOC_CONTROL D ON N.ADOC_NO = D.ADOC_NO WHERE N.ADOC_NO = #{no}
	</select>	
	
	<select id="selectNoSelectList" resultType="DocControlVo">
		SELECT 
			A.*, NOELEC_NO, NOELEC_ORIGIN_NAME, NOELEC_CHANGE_NAME 
		FROM 
			APPROVEDOCUMENT A 
		JOIN NOELECDOC N ON A.ADOC_NO = N.ADOC_NO 
		WHERE EMP_NO = #{empNo} AND TO_CHAR(DRAFT_DATE,'YYYY-MM') LIKE #{docDate}
	</select>
	
	<select id="selectOneDoc2" resultType="DocControlVo">
		SELECT Z.*,DEPT_NAME 
		FROM
			(SELECT 
				X.*,EMP_NAME, DEPT_NO 
			FROM
				(SELECT 
					A.ADOC_NO , ADOC_NAME, ADOC_CONTENT, A.EMP_NO
					, TO_CHAR(DRAFT_DATE,'YYYY"년"MM"월"DD"일"')AS DRAFT_DATE
					,NOELEC_STATUS,NOELEC_NO,NOELEC_ORIGIN_NAME,NOELEC_CHANGE_NAME 
				FROM APPROVEDOCUMENT A JOIN NOELECDOC N 
				ON A.ADOC_NO = N.ADOC_NO) X
			JOIN EMPLOYEE E ON X.EMP_NO = E.EMP_NO)Z
		JOIN DEPARTMENT D ON Z.DEPT_NO = D.DEPT_NO
		WHERE Z.ADOC_NO = #{adocNo}
	</select>
	
</mapper>































